body{
  margin:0;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*containers*/

.hero{
  width: 65vw;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.2s ease, border-color 0.2s ease;
  width: 400px;
}
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card:hover,
.card:focus,
.card:active {
  color: darkred;
  border-color: darkred;
  cursor: pointer;
}
/*Fonts*/

h1, h2, h3, h4, button {
  font-family: 'Cooper Black', sans-serif;
}

.preTitle {
  font-size: 1.3rem;
  line-height: 0.6;
  font-family: 'Cooper Black'
}
a{
  text-decoration: none;
  color: rgb(139, 0, 0);
  font-weight: 500;
  transition: text-decoration 0.25s ease, color 0.25s ease;
}
a:hover,
a:focus,
a:active{
  text-decoration: underline;
  color: rgb(151, 46, 46);
  cursor: pointer;
}
.description {
  font-weight: 500;
  color: #666;
  line-height: 1.2;
  font-size: 1.4rem;
}

button{
  border: none;
  background: darkred;
  color: white;
  padding: 0.36rem;
  transition: background-color 0.25s ease;
}
button:hover,
button:focus,
button:active{
  background: rgb(151,46,46);
  cursor: pointer;
}
.tryButton{
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}
ul{
  list-style: none;
}
h1, h2{
  color: rgb(39, 0, 0);
  font-size: 2.6rem;
  transition: color 0.3s ease;
}
h1:hover,
h1:focus,
h1:active,
h2:hover,
h2:focus,
h2:Active{
  color: rgb(155, 0, 0);
}
.title {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}